.container{
    padding: 1rem 3rem;
    margin-top: 8rem;
    overflow: hidden;
    .categoryMain{
        .category{
            display: flex;
            // flex-wrap: wrap;
            gap: 1rem;
        }
    }
    .dealsMain{
        display: flex;
        overflow-y: hidden;
        gap: 1rem;
        margin-top: 2rem;
        &::-webkit-scrollbar{
            display: none;
        }
    }
    .brand{
        margin-top: 1rem;
        display: flex;
        gap: 2rem;
        // overflow: hidden;
        margin-bottom: 2rem;
        animation: slide infinite 17s linear;
        @keyframes slide {
        0%{
            transform: translateX(0);
        }            
        100%{
            transform: translateX(-100%);
        }
        }
        h3{
            padding: .5rem 1.8rem ;
            // border: 1px solid;
            width: fit-content;
            min-width: 200px;
            display: flex;
            align-items: center;
            justify-content: center;
            color: rgb(0, 51, 255);
            box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
        }
    }
    .categories{
        display: flex;
        flex-wrap: wrap;
        gap: .6rem;
        margin-top: 1rem;
        .category{
            border: 1px solid;
            width: fit-content;
            padding: 10px 20px;
            border-radius: 20px;
            &:hover{
                background-color: red;
            }
        }
    }

}
